*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#Home{
    min-height: 100vh;
    background: #1d3e71,;
    /* width: 100%;
    height: 100vh; */
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(/assets/pexels-jakub-novacek-924824.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
   

} 

body{
    overflow-x: hidden;
    overflow-x: hidden ;
}
 
 .container1{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* this is the logo */
.logo{
    position: absolute;
    top: 30px;
    color: blueviolet;
    width: 120px;
    cursor: pointer;
    font-size: 50px;
}
.logo span{
    margin-left: 10px;
}

.logo:hover::after{
    opacity: 0.7;

}

/* this is the navigation bar */

.container1{
    position: relative;
    top: 30px;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
    position: fixed;
    right: 5%;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 50%;
}

/* this is the description of the page */
.name{
    color: white;
    position: absolute;
    bottom: 8%;
    margin-left: 20px;
}

.name h3{
    position: relative;
    right: 5px;
    top: 20px;
}

.name p{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: 30px;
    right: 5px;
}

.name h1{
    font-size: 100px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    background: url(/assets/pexels-tomas-anunziata-412026.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
}

@keyframes back{
    100%
    {
        background-position: 2000px 0;
    }
}

.name h2{
    font-size: 30px;
    font-weight: 500;
}

.name-tags{
    cursor: pointer;
}

.name .name-tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    text-align: center;
}

.name .name-tags a{
    background-color: blueviolet;
     border-radius: 290486px;
    /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);  */
    color: #f8f7f9;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
     padding: 1.25em 2em; 
    text-shadow: none;
     transition-property: box-shadow, transform; 
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.name-tags a:hover{
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
}

.name a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}


/* these are the social media icons */
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
    color: blue;
    gap: 50px;
    justify-content: space-between;
    font-size: 40px;
}

.social-icons li{
    list-style: none;
    display: inline-block;
    gap: 20px;
}

.social-icons li:hover{
    transform: scale(1.25);
    opacity: 0.8;
}

/* this is the background animation */
  .bubbles{
    position: relative;
    display: flex;
    
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    animation-direction: alternate-reverse;
}

.bubbles span:nth-child(even)
{
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
} 

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}  



  /* this is the about section */

  #About{
    min-height: 100vh;
    background: #08061c;
    min-width: fit-content;
    color: white;
    
}

.image2{
    position: absolute;
    right: 2%;
    opacity: 0.3;
    
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    .header{
        color: blueviolet;
        font-size: 30px;
    }

    .att{
        font-size: 13px;
        position: relative;
        left: 20px;
        top: 50px;
        text-decoration: underline;
    }

    .slideshow{
        position: relative;
        top: 45px;
        left: 20px;
    }

    .paragraph{
        position: relative;
        top: 40px;
        font-size: 30px;
    }

    .skillset{
        position: relative;
        top: 150px;
        left: 20px;

    }

    .toolkit{
        position: relative;
        top: 100px;
        left: 0px;
    }

    .toolkit h2{
        text-decoration: underline;
    }

/* this is the service section */

#services{
    min-height: 100vh;
    background: #330A46;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header{
    top: 10%;
    color: antiquewhite;
    margin-left: 10%;

}


.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 250px;
    width: 350px;
    background-color: rgb(160, 208, 192);
    gap: 30px;
    margin: 20px;
    border-radius: 30px;

}

.card img{
    margin-left: 95px;
    margin-top: 10px;
}

.card img h2 p a{
    margin-left: 50px;
    margin: 20%;
}

.work-words{
    color: antiquewhite;
    font-size: 20px;
    margin-top: 10%;
    margin-right: 20%;
    position: relative;
    right: 160px;
}

.description{
    margin-left: 10%;
}


/* this is the contact section */
#contact{
    background: #08061c;
    color: white;
     min-height: 100vh; 
}
.contact{
    margin-left: 20px;
    color: blueviolet;
    position: absolute;
    font-size: 35px;   
}

.problem{
    margin-left: 20px;
    color: antiquewhite;
    position: relative;
    top: 100px;
    left: 10px;
    font-size: 30px;
}

.problem p{
    margin-top: 30px;
    color: antiquewhite;
    position: relative;
    top: 20px;
    left: 0px;
    
}


.social2{
    /* margin-left: 20px; */
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   position: relative;
   top: 200px;
   font-size: 40px;
}


.social2 span{
    top: 20px;
} 

.social2:hover{
    transform: scale(1.25);
    opacity: 0.8; 
}

.namely{
    width: 30%;
    border-radius: 20%;
}

.e-mail{
    width: 50%;
    border-radius: 40%;
}

.message{
    width: 50%;
    border-radius: 40%;
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    bottom: 180px;
    right: 30px; 
}

.newsletter label{
    color: antiquewhite;
    position: relative;
    
}

.names label{
    width: 20px;
    height: 20px;
}

.submit{
    background-color: blueviolet;
    border-radius: 290486px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);  
   color: #f8f7f9;
   display: inline-block;
   font-size: 0.875rem;
   line-height: 1;
    padding: 1.25em 2em; 
   text-shadow: none;
   transition-property: box-shadow, transform;
   user-select: none;
   vertical-align: top;
   white-space: nowrap;
   will-change: box-shadow, transform;
   text-decoration: none;
   position: relative;
   left: 920px;
   bottom: 100px;
  
}

.submit:hover{
    opacity: 0.7;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    
}



/* this is the footer section */


#footer{
    /* background-image: url(/assets/pexels-pixabay-268533.jpg); */
    background-color: #08061c;
}
.logo2{
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.nav{
position: relative;  
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
gap: 50px;
top: 10px;
}
.nav a{
text-decoration: none;
color: rgb(249, 245, 245);
transition: 0.4s ease;

}

nav a:hover{
opacity: 0.8;
color: rgb(85, 46, 121);
}

.brands{
position: relative;
justify-content: center;
align-items: center;
gap: 20px;
color: blue;
font-size: 40px;
left: 600px;
top: 10px;
}

.brands li{
    list-style: none;
    display: inline-block;
    gap: 20px;
}

.brands li:hover{
    transform: scale(1.25);
}

/* .brands:hover{
opacity: 0.7;
} */

.imprint{
display: flex;
justify-content: right;
margin-right: 30px;
font-size: 25px;
position: relative;
bottom: 20px;
color: #f8f7f9;
}

.phone{
margin-left: 40px

}

.phone-number{
margin-left: 10px;
position: relative;
left: 52px;
bottom: 17px;
color: #f8f7f9;
}

.copyright{
margin-left: 20px;
position: relative;
top: 50px;
color: #f8f7f9;
}


@media screen and (max-width:) {
    
}

